body{
        color-background:#E3E5E7;
         
         margin-left:350px;
         margin-right: 350px;
         font-family: sans-serif;
         color:#444444;
     }
    h1{
        font-size: 64px; 
        text-align: center;
        font-weight: inherit;
        padding-bottom: -20px;
        margin-bottom: inherit;
        margin-top: inherit;
        
     }
    h2{
      font-size: 17px;  
        text-align: center;
        font-weight: inherit;
        padding-top: 0px;
        margin-top: 0px;
        padding-bottom: 15px;
    }
    h3{
      font-size: 20px;  
        text-align: center;
        font-weight: inherit;
    }
        h4{
        font-size: 54px;
        text-align: center;
        font-weight: inherit;    
        }
        h5{
        text-align: center;
        }
    hr{
        border-color:aqua;  
        margin-bottom: inherit;
        padding-bottom: 0px;
        }
    p{
        font-size: 20px;  
        
        }
    header{
        margin-bottom: inherit;
        }
    footer{
         text-align: center;   
    }
    h1:hover { 
    gitcolor: dodgerblue;
}